.matrix {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: white;
    padding: 20px;

    table{
        width: 100;
        text-align: center;
        border: 1px solid rgb(222, 226, 230);
        
        .first{
            background-color: orange;
        }
        
        .path{
            background-color: yellow;
        }

        tr, td{
            border-right: 1px solid rgb(222, 226, 230);
        }

        .tableHeader{
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            background-color: grey;
            color: white;
        }
    }
}